<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerKey</key>
	<string>qfL0Q7SuiSXqaixhCSjxGnze3</string>
	<key>consumerSecret</key>
	<string>9IOKrWTHvvgKwanH4nocj0d7K2geekzsndJiIYDspIQCbMcaaQ</string>
	<key>requestTokenUrl</key>
	<string>https://api.twitter.com/oauth/request_token</string>
	<key>authorizeUrl</key>
	<string>https://api.twitter.com/oauth/authorize</string>
	<key>accessTokenUrl</key>
	<string>https://api.twitter.com/oauth/access_token</string>
</dict>
</plist>
